@import "../../shared/scss/variables";
@import "../../shared/scss/mixins";

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $primary-color;
    border-radius: 5px;
    border: 1px solid $white;
    .autocomplete-search {
        width: 80%;
        max-width: 300px;
        -webkit-filter: brightness(0) invert(1); /* Safari/Chrome */
        filter: brightness(0) invert(1);
        label,
        input {
            font-weight: bold;
            color: black;
        }
    }
}

.search-popper-container {
    .MuiAutocomplete-listbox {
        max-height: 360px;
        @include scrollSettings;
    }
}
